<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <h1>Project Waterboy</h1>

    <div id="bluescore" class="score-box">
      <span class="score">
        <%= @match.goals_by("blue").count %>
      </span>
    </div>

    <div id="redscore" class="score-box">
      <span class="score">
        <%= @match.goals_by("red").count %>
      </span>
    </div>

    <br><br>
    <hr>

    <div>
      <span>Match Started: </span>
      <span><%= @match.created_at %></span>
    </div>

    <div>
      <span>Goals in match: </span>
      <span><%= @match.goals.count %></span>
    </div>

    <a href='/match/new'><button>New Match</button></a>
    <a href='/match/delete'><button>Delete Match</button></a>

    <hr>

    <h2>History</h2>
    <table>
      <tr>
        <th>Blue</th>
        <th>Red</th>
        <th>Time</th>
      </tr>
      <% @matches.each do |match| %>
        <tr>
          <td><%= match.goals_by("blue").count %></td>
          <td><%= match.goals_by("red").count %></td>
          <td><%= match.created_at %></td>
        </tr>
      <% end %>
    </table>

  </body>
</html>
