<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <h1>Project Waterboy</h1>

    <div id="bluescore" class="score-box">
      <span class="score">
        <%= @match.goals_by("blue").count %>
      </span>
    </div>

    <div id="redscore" class="score-box">
      <span class="score">
        <%= @match.goals_by("red").count %>
      </span>
    </div>

    <br><br>
    <hr>

    <div>
      <span>Match Started: </span>
      <span><%= @match.created_at %></span>
    </div>

    <div>
      <span>Goals in match: </span>
      <span><%= @match.goals.count %></span>
    </div>

    <div>
      <span>Match over: </span>
      <span><%= @match.over? %></span>
    </div>

  </body>
</html>
